<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="RedisBenchmark" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <RedisBenchmark>
    <add key="distributorHost" value="192.168.150.1" />
    <add key="distributorPort" value="22190" />
    <add key="countTreads" value="1" />
  </RedisBenchmark>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>